<%= simple_form_for(@departamento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :empresa, label_method: :nome %>
    <%= f.input :nome %>
    <%= f.input :ramal %>
    <%= f.input :responsavel %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
